{% extends "_main.html" %}

{% block title %} Articles {% endblock %}

{% block main %}
    {% if "logged" in session %}
        <a href="{{ url_for("admin.view_add_article" )}}">add new article</a>
    {% endif %}
    
        {% if articles %}
        <div class="list-group">
            {% for article in articles %}
            <a href="{{ url_for("blog.view_article", art_id=article.id) }}" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ article.title }}</h5>
                </div>
            </a>
            <p class="mb-1">{{ article.content | truncate(100) }}</p>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if paginate.has_prev %}
                <li class="page-item"><a class="page-link" href={{ url_for("blog.view_articles", page=paginate.prev_num)}}>Previous</a></li>
            {% endif %}

            {% for page in paginate.iter_pages() %}
                {% if page %}
                    {% if page != paginate.page %}
                        <li class="page-item"><a class="page-link" href={{ url_for("blog.view_articles", page=page) }}>{{page}}</a></li>
                    {% else %}
                        <li class="page-item active"><span class="page-link">{{page}}</span></li>
                    {% endif %}
                {% else %}
                    <li class="page-item"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}

            {% if paginate.has_next %}
                <li class="page-item"><a class="page-link" href={{ url_for("blog.view_articles", page=paginate.next_num)}}>Next</a></li>
            {% endif %}
            </ul>
            </nav>
    {% else %}
        <p>No articles :(</p>
    {% endif %}
{% endblock %}